</main>
<footer>
  <% if (!['config', 'register', 'login', 'profile'].includes(locals.name)){ -%>
  <div id="userinfo">
  <% if(!locals.user){ -%>
    <p><a href="/auth/login" id="login">登录</a> | <a href="/auth/register" id="register">注册</a></p>
  <% }else{ -%>
    <p>
      @<a title="个人资料" href="/u/<%= user.username %>"><%= user.nickname || user.username %></a>
      <% if (locals.name == 'index') { -%>
      / <a href="<%= locals.story.id %>/history">历史</a>
      / <a href="<%= locals.story.id %>/rank">排行榜</a>
      <% } -%>
      / <a href="/admin" title="创作你的文字游戏">创作</a>
    </p>
  <% } -%>
  </div>
  <% } -%>
  <p>&copy; <%= new Date().getFullYear() -%> <a href="https://github.com/imlinhanchao/adventext" target="_blank">Adventext</a>. All rights reserved.</p>
</footer>
</body>
<script>
  initDarkMode();
</script>
<link rel="stylesheet" href="<%=locals.config?.cdn||''-%>/fonts/fonts.css">
</html>