<%- include('header') %>

<article>
  <div id="game">
    <% if (locals.message){ -%>
    <p class="<%= type -%> message"><%= message -%></p>
    <% } -%>
    <p class="error message" id="error"></p>
    <div id="story"></div>
    <div id="options" class="space-x-2">
      
    </div>
    <form action="/" id="form" method="POST">
      <input type="hidden" name="option" id="option" />
    </form>
  </div>
  <script>
    const state = <%- JSON.stringify(locals.state || null) %>;
    const scene = <%- JSON.stringify(locals.story || null) %>;
    if (scene && state) startGame(scene, state);
  </script>
</article>

<%- include('footer') %>