<%- include('header') %>

<article class="story">
  <% if (locals.state) { -%>
  <div id="profile" class="space-y-2">
    <section id="attr">
      <section class="title">属性</section>
      <section class="attr">
        <% Object.entries(state.attrName).forEach(function([key, name]) { %>
          <span class="name"><%=name-%></span>
          <span class="value"><%=state.attr[key]-%></span>
        <% }); %>
      </section>
    </section>
    <section id="item">
      <section class="title">物品</section>
      <section class="inventory">
        <% state.inventory.forEach(function(item) { %>
          <span class="name"><%=item.name-%></span>
          <span class="value">x<%=item.count-%></span>
        <% }); %>
      </section>
    </section>
  </div>
  <% } %>
  
  <div id="game">
    <% if (locals.message){ -%>
    <p class="<%= type -%> message"><%= message -%></p>
    <% } -%>
    <p class="message" id="message"></p>
    <div id="story"></div>
    <div id="options" class="space-x-2">
      
    </div>
  </div>
  <div id="dialog" class="dialog">
    <div id="dialog-container" class="container">
      <div id="dialog-content" class="content"></div>
      <div id="dialog-options" class="space-x-2 options">
        <button type="button" id="dialog-cancel" class="btn">关闭</button>
      </div>
    </div>
  </div>
  <script>
    initGame(<%= locals.story?.id-%>);
  </script>
</article>

<%- include('footer') %>