<%- include('header') %>

<article class="flex flex-1 flex-col h-full max-w-[700px] overflow-hidden">
  <div id="profile" class="space-y-2">
    <section id="attr" class="hidden">
      <section class="title">属性</section>
      <section class="attr">
      </section>
    </section>
    <section id="item" class="hidden">
      <section class="title">物品</section>
      <section class="inventory">
      </section>
    </section>
  </div>
  
  <div id="game" class="flex-1 overflow-auto flex flex-col justify-center overflow-auto">
    <section class="inline-flex flex-col items-start border-dashed border p-2 border-gray-200 dark:border-gray-700 rounded">
      <% if (locals.message){ -%>
      <p class="<%= type -%> message"><%= message -%></p>
      <% } -%>
      <p class="message whitespace-pre-wrap" id="message"></p>
      <div id="story" class="py-3 px-1 whitespace-pre-wrap"></div>
      <div id="options" class="space-x-2">
        
      </div>
    </section>
  </div>
  <div id="dialog" class="dialog">
    <div id="dialog-container" class="container">
      <div id="dialog-content" class="content"></div>
      <div id="dialog-options" class="space-x-2 options">
        <button type="button" id="dialog-cancel" class="btn">关闭</button>
      </div>
    </div>
  </div>
  <script>
    initGame('<%= locals.story?.id-%>');
  </script>
</article>

<%- include('footer') %>