<%- include('header') %>

  <form class="form space-y-2" action="/auth/login" method="POST">
    <h1>登录</h1>
    <p>
      <label for="username">用户名:</label>
      <input type="text" id="username" name="username" required value="<%= locals.body?.username || '' -%>">
    </p>
    <p>
      <label for="password">密码:</label>
      <input type="password" id="password" name="password" required value="<%= locals.body?.password || '' -%>">
    </p>
    <button type="submit" class="btn">登录</button>
    <a href="./register" class="link">没有账号？注册</a>
    <% if (locals.message){ -%>
    <p class="<%= type -%> message"><%= message -%></p>
    <% } -%>
  </form>

  <%- include('footer') %>