<%- include('header') %>

  <article class="flex flex-1 flex-col h-full overflow-hidden">
    <header class="text-center">
      <h2>排行榜</h2>
      <p>根据故事的结局与总耗时进行排名（故事作者不计入排名）。
        <br />已有 <%=totalPlayer-%> 人加入游玩。<a href="/s/<%=story.id%>">+ 加入游玩</a>
      </p>
    </header>
    <main class="h-full overflow-auto">
      <section class="w-full pl-5 h-full py-5">
<% if (list.length > 0) { %>
        <table id="user_list" class="text-center m-auto w-full max-w-[500px]">
          <thead>
              <tr>
                  <th class="th_number">排名</th>
                  <th class="th_name">玩家</th>
                  <th class="th_stage">已解锁结局</th>
                  <th class="th_date">总耗时</th>
              </tr>
          </thead>
          <tbody>
<% list.forEach(function(rank, i) { %>
              <tr <%- rank.username === locals.user.username ? 'class="font-bold"': '' -%>>
                  <td><%= (i+1+(page-1)*size) %></td>
                  <td class="lower-font"><a href="/u/<%=rank.username%>">
                    <%= rank.nickname %></a>
                  </td>
                  <td><%= rank.endCount %></td>
                  <td><%= rank.totalCost %></td>
              </tr>
<% }); %>
          </tbody>
        </table>
<% } else { -%>
        <section class="flex h-full items-center justify-center">
          <p class="text-center">还没有人到达这个故事结局。</p>
        </section>
<% } -%>
      </section>
    </main>
  </article>

<%- include('footer') %>