<%- include('header') %>

  <article class="max-w-[400px] w-full mx-auto">
    <section class="w-full pl-5">
      <ol class="list-decimal w-full">
        <% stories.forEach(function(story) { %>
          <li class="w-full">
            <section class="flex flex-col w-full">
              <span class="flex justify-between items-bottom w-full">
                <span>
                  <a href="<%=query.type === 'draft' ? '/d' : '/s'-%>/<%=story.id-%>">
                    <%= story.name %>
                  </a>
                  <span>(<span title="已完成"><%= story.finish %></span>/<span title="结局"><%= story.end %></span>)</span>
                </span>
                <span>
                  <a href="/u/<%= story.author %>" class="text-gray-500 dark:text-light-900 text-sm truncate"
                    title="作者">
                    <%= story.author %>
                  </a>
                </span>
              </span>
              <span class="text-gray-500 dark:text-light-900 text-sm truncate" title="<%= story.description %>">
                <%= story.description %>
              </span>
            </section>
          </li>
          <% }); %>
      </ol>
      <% if (stories.length===0) { %>
        <p>还没有故事.</p>
        <% } %>
    </section>
  </article>
  <%- include('footer') %>