<%- include('header') %>

<article class="w-100">
  <section>
    <ol class="list-decimal">
      <% stories.forEach(function(story) { %>
        <li>
          <section class="flex flex-col">
            <span><a class="truncate" href="<%=query.type === 'draft' ? '/d' : '/s'-%>/<%=story.id-%>"><%= story.name %></a></span>
            <span class="text-gray-500 dark:text-light-900 text-sm truncate" title="<%= story.description %>">
              <%= story.description %>
            </span>
          </section>
        </li>
      <% }); %>
    </ol>
    <% if (stories.length === 0) { %>
      <p>还没有故事.</p>
    <% } %>
  </section>
</article>
<%- include('footer') %>